body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  min-width: 800px;
  padding: 10px;
}

h1 {
  font-size: 24px;
  color: black;
}

h2 {
  font-size: 18px;
  color: black;
}

h3 {
  font-size: 15px;
  color: black;
}

p {
  color: black;
}

a {
  color: #999;
}

.database-name,
.table-name,
.glue-results,
.athena-results,
.s3-results
{
  background-color: #eaeded;
  width: 200px;
}

table {
  border-collapse: collapse;
}

.data_tables {
    width: 100%;
}

.processed-table {
    font-size: 14px;
    width: 100%;
    color: rgba(0,0,0,.7);
    margin-bottom: 10px;
}
.processed-table tr{
    height: 40px;
}

.processed-table tr th:nth-child(2){
    text-align: left;
    padding: 10px;
}

.processed-table tr,
.processed-table th {
    border: 1px solid #e4e4e4;
}

body>div {
    margin-top: 40px;
}
